## NLP Community

demenstation of collections.Counter objects

In [1]:
import pandas as pd
import numpy as np
from collections import Counter, ChainMap
import pprint
pp = pprint.PrettyPrinter(indent=4)
import string
import random
import uuid
from math import floor

In [2]:
Counter(["Hi Frined", ""])

Counter({'Hi Frined': 1})

In [18]:
singles_conter = Counter()
List=["Hi Frined","i","Hi Frined","F","Hi Frined","H","Hi Frined","Hi Frined","Hi Frined","Hi Frined","Hi Frined","H"] 
for i,L in enumerate(List):
    if len(L) == 1:
        print("single: ", L)
        singles_conter.update(L)
    if i>3:
        break

singles_conter

single:  i
single:  F

Counter({'i': 1, 'F': 1})

# we need to generate some data

In [13]:
# fun helps
def get_cat(N=3):
    '''returns a random ALPHA code from N possible codes'''
    letters = string.ascii_uppercase
    L = len(letters)
    if N > L**2:
        print('This definition need more logic to support sample space, N, '
              'grater than %s^2.\nSetting N=%s' % (L, L**2))
        N = L**2
    n = random.randint(1,N)
    return (string.ascii_uppercase[n-1] if (n < L) else
            '%s%s' % (string.ascii_uppercase[floor(n/L)-1],string.ascii_uppercase[(n%L)-1]))


def get_gender():
    '''returns a random gender'''
    return ['Male', 'Female'][random.randint(0,1)]


def get_id():
    '''returns a random universally unique identifier'''
    return str(uuid.uuid4()).replace('-','')


def mk_row(N=3):
    '''makes a random row of example data'''
    return [get_cat(N=N), get_gender(), get_id()]


def mk_example_df(I=10,N=3):
    '''makes a random dataframe of data this example.
    input: I - number of rows you want
           N - number of unique categories in Cat column'''
    return pd.DataFrame([mk_row(N=N) for i in range(I)],
                        columns = ['Cat','Gender','id'])

# show how it works
mk_example_df(I=10)

  Cat  Gender                                id
0   B  Female  bada754a4b074e1ab38d611a850bb0d1
1   B    Male  70be0053a3834f7f936ee5d6090e7eb6
2   B    Male  5192586cf85c4e628430e27656ca24e5
3   C    Male  afcddc53f613453cb429d9141fd6f057
4   A    Male  85c774190b384ae88c14a3af6950671c
5   B  Female  918f178808f94ffd982ed791c1407534
6   C  Female  59273df2765647e998c62ec6fa730c95
7   C    Male  df3088cbc8d843e1ba4f77e0259bbb33
8   C  Female  d66159d3ca184e09aa5193658cc80851
9   A    Male  a5be2893a6574338ab30df29d5605c69

In [14]:
# making example data
example_df = mk_example_df(I=100)

In [5]:
example_df

   Cat  Gender                                id
0    A    Male  7e312adda48a498daaf10d4f82dbdf3c
1    B  Female  8e66c7ac66024a238ab8bc2aa56554b0
2    A    Male  0f588e06fcf3486888c718f69ec56de5
3    B  Female  938422d0d7e94d8cb75225baddc69eaf
4    C  Female  77c2f22af4524650a88a29c083456cfc
5    A    Male  d0d942c3afd34d5a8c9e2537295062c3
6    A    Male  22e143712d6f4cbcac5610c4295371ab
7    C    Male  05ae885d0bcf410dbc7e5b3a5bb7d50f
8    A    Male  dd6c38a25e4147e8a76849abf3fa33e8
9    B    Male  ad4adf6e29f0448395d6ab279ee60409
10   C  Female  4fcccc5659e4442abd55f821b0e63931
11   C    Male  03e177f4fafc4355a3127ff2ce97b44a
12   A  Female  be9ad118adf14c76a99b34e3310890d3
13   B    Male  8f88b38be05a42f188ace299b7bcaf63
14   B    Male  e43c91d9c1424804bf432a15e97efe83
15   C  Female  aad228a99c554c729e86626e3e533b8e
16   B  Female  835fc4bbb7204c309e85dcef6fb67633
17   A  Female  edfd13a341a34d449e1718a28dafe5c7
18   B    Male  319e8303d77b4617a28c9c9dff7bc83e
19   A    Male  03462239fcf94cc7aa42423df9301c83
20   B    Male  6ab519f1ccc64e1bba504f0ecd2fb85f
21   B  Female  c23ca542424d425bbe3f3edaf228f2cc
22   B  Female  601115ff06ca423bb873ae8a8b86f6b0
23   A  Female  d2b2e7573fb848179f08c24ef0fdf3a6
24   B    Male  db295f68e8b84171975ef104efa13d7e
25   A  Female  fb39f2140b38409b9edfe4bb04059337
26   B    Male  310f2afae76342508f556284367d20fb
27   C    Male  1ba7cfe684e9425f9d5ced7749ecea3e
28   B    Male  43f2d0574f02452c921dadadab1fee18
29   B  Female  b1f429a272c0413d8256408f517aaf79
..  ..     ...                               ...
70   B  Female  4f55b2083deb4ec5a9ef3bb389ebb44d
71   B    Male  6c51bba26f3146a3bab4fdb7987da579
72   A    Male  f7cd1fb710aa43cd82be3cdec613a40c
73   C    Male  4afae456ef4d4752aaa6cac6af9212fc
74   C    Male  8c673c3c0b70494d93e8f12effe400a1
75   C  Female  07922c17773c439c9356681c3b8cb74e
76   B    Male  d5fc49f5a8fb4c9792ad31c9c309eb81
77   B  Female  c8250c1a4472470fafac6a0e8a58e9e3
78   B    Male  00bd15d5705d4112afdd0b3c9757ece4
79   C  Female  412edbe4cd1a4be299d0829c1182a2a8
80   A    Male  cd5bd423f5d84d6d8e12a772916d30ef
81   B    Male  f7f3ad1d185944b1b5d86c8355375073
82   B    Male  98d3f52083b8475a8195821bb0ad0df3
83   C  Female  ea08128aa31647f0be802f14720eb5c2
84   A  Female  18e00cf596f84a7cb383221c4cda28ca
85   C  Female  2a0dfa8ae6794f74b0f0fadcd874490a
86   B  Female  83f9d483ad8546228f5168bf4b5d10df
87   B    Male  3462f9480a554e4dbecf044bd7f94883
88   C  Female  4a82b9911f174c00a8d10a7280718d81
89   B    Male  0519aa8c9ec24aaa9c23f48f459e66a3
90   C    Male  4c3e97ffec8a4760a80983385e5b0ca6
91   B    Male  cee0293852b546008b79a98d2e99ef6d
92   A  Female  54bb1cf637504a05a20016880393b729
93   A    Male  4ae45fa7b49040bab8e8823813c7ea1d
94   B    Male  28e89af9935e4f4e98ad27ba39989753
95   A    Male  23bd6f83b92f4381a077009918f0c704
96   A    Male  c16224843eb94b35922d4b75c401594f
97   B  Female  bb62117b6ae94603b1e4373495761bd6
98   C    Male  b120fc3fbe8a4b0eb5e85524c2824dcc
99   B    Male  6d2c1ac1e7b54ffeb0bf6f50f99eaa5c

[100 rows x 3 columns]

# simple use of collections.Counter

In [17]:
print('counting single category')
count_cats = Counter(example_df.Cat)
print(count_cats)
print('-'*12+'\n')
print('counting category by gender')
count_catXgener = Counter((c,g) for c,g in example_df.loc[:,['Cat','Gender']].values)

# note:
# (c,g) for c,g in example_df.loc[:,['Cat','Gender']].values
# this is generating a tupple of the pairs we want to count,
# Counter((c,g) for c,g in example_df.loc[:,['Cat','Gender']].values)
# above counts thouse pairs

print(count_catXgener)
print('-'*12+'\n')
print('counting category for males only')
count_cat_male = Counter(example_df[example_df.Gender == 'Male'].Cat)
print(count_cat_male)
print('-'*12+'\n')

counting single category
Counter({'C': 38, 'A': 32, 'B': 30})
------------

counting category by gender
Counter({('C', 'Male'): 21, ('B', 'Male'): 19, ('A', 'Female'): 19, ('C', 'Female'): 17, ('A', 'Male'): 13, ('B', 'Female'): 11})
------------

counting category for males only
Counter({'C': 21, 'B': 19, 'A': 13})
------------

## making simple counts into dataframes

In [10]:
print('counting single category')
count_cats_df = pd.DataFrame.from_dict(count_cats, orient='index', columns=['Count'])
print(count_cats_df)
print('-'*12+'\n')
print('counting category by gender')

# note, the method below is brute force. ill come cack to this 

count_catXgener_df = pd.DataFrame.from_dict(count_catXgener, orient='index', columns=['Count']).reset_index()

count_catXgener_df = pd.DataFrame.from_dict({'Cat': [ i[0] for i in count_catXgener.keys()],
                                             'Gender': [ i[1] for i in count_catXgener.keys()],
                                             'Count': [n for n in count_catXgener_df.Count]})

print(count_catXgener_df)

counting single category
   Count
A     32
B     40
C     28
------------

counting category by gender
  Cat  Gender  Count
0   A    Male     17
1   B  Female     17
2   C  Female     15
3   C    Male     13
4   B    Male     23
5   A  Female     15

## most_common()

In [13]:
count_catXgener.most_common()

[(('B', 'Male'), 23),
 (('A', 'Male'), 17),
 (('B', 'Female'), 17),
 (('C', 'Female'), 15),
 (('A', 'Female'), 15),
 (('C', 'Male'), 13)]

# how to subtract counts

In [14]:
count_cats

Counter({'A': 32, 'B': 40, 'C': 28})

In [15]:
count_cats.subtract(count_cats)
print(count_cats)

Counter({'A': 0, 'B': 0, 'C': 0})

# how to add counts

In [16]:
new_df = mk_example_df()
new_df

  Cat  Gender                                id
0   A    Male  45b407c12fca46a4b355b9c7df5590ac
1   A  Female  8c474b31822d40b1aa5355e640f23705
2   A    Male  17d201b5951544a68b52078659fb8b10
3   C  Female  ca22f97ef1cf4cf89f5e9d7db107f254
4   C    Male  4b920e6021854fb6b6f8c78d6e4cc52e
5   C  Female  34117ef1209d45ec94531e9a867f1bbd
6   B    Male  20a01af387fc4afc8ee623e0020d641e
7   C  Female  04309621c73d4611a12be8bc58a174b3
8   B    Male  edd7d5909795432ba53eae89c227cb5a
9   C  Female  3e7f3bc5391544d397eaf0b640fc3b6a

In [17]:
count_cats.update(new_df.Cat)
count_cats

Counter({'A': 3, 'B': 2, 'C': 5})

## one more example of using Collection object

In [18]:
df = mk_example_df(100)
full_counts = Counter(df.Cat)
M_counts = Counter(df[df.Gender == 'Male'].Cat)
F_counts = Counter(df[df.Gender == 'Female'].Cat)
print("Counts of Cats: ", full_counts)
print("Counts of Male Cats: ", M_counts)
print("Counts of Female Cats: ", F_counts)

Counts of Cats:  Counter({'B': 37, 'C': 35, 'A': 28})
Counts of Male Cats:  Counter({'B': 20, 'C': 16, 'A': 14})
Counts of Female Cats:  Counter({'C': 19, 'B': 17, 'A': 14})

In [19]:
null_counts = full_counts.copy()
null_counts.subtract(full_counts)
print("Null counts: ", null_counts)

Null counts:  Counter({'A': 0, 'B': 0, 'C': 0})

In [20]:
print("Making a copy of sample space counts")
collector_of_counts = null_counts.copy()
collector_of_counts

Making a copy of sample space counts

Counter({'A': 0, 'B': 0, 'C': 0})

In [21]:
print("updating null counts with male counts")
collector_of_counts.update(M_counts)
print("collector: ", collector_of_counts)
print("male counts: ", M_counts)

updating null counts with male counts
collector:  Counter({'B': 20, 'C': 16, 'A': 14})
male counts:  Counter({'B': 20, 'C': 16, 'A': 14})

In [22]:
print("updating collector with femail counts")
collector_of_counts.update(F_counts)
print("collector: ", collector_of_counts)
print("female counts: ", F_counts)

updating collector with femail counts
collector:  Counter({'B': 37, 'C': 35, 'A': 28})
female counts:  Counter({'C': 19, 'B': 17, 'A': 14})

In [23]:
print(collector_of_counts)
print(M_counts)
print(F_counts)
print(full_counts)

Counter({'B': 37, 'C': 35, 'A': 28})
Counter({'B': 20, 'C': 16, 'A': 14})
Counter({'C': 19, 'B': 17, 'A': 14})
Counter({'B': 37, 'C': 35, 'A': 28})

## looking at chainmap

In [24]:
df = mk_example_df(I=30,N=26*2)
full_counts = Counter(df.Cat)
M_counts = Counter(df[df.Gender == 'Male'].Cat)
F_counts = Counter(df[df.Gender == 'Female'].Cat)
print("Example data")
print(df)
print("Conter of all data")
print(full_counts)
print("Conter Male")
print(M_counts)
print("Conter Female")
print(F_counts)

Example data
   Cat  Gender                                id
0   AL    Male  c093605738b64842839f7e1e061da449
1    S    Male  778856c8fec64ff095d9f46e14f54164
2   BZ  Female  d5b0641c0af646fe9972658d88a6764c
3    X    Male  039b1a1f223f49318d3f703047f83fdd
4   AR  Female  3ac4e6e34a704e2f9ab1c8256c2f4ae0
5   AR    Male  c958145b05ea4bc5a5b5b12c0cea3bfb
6   AV  Female  e80d1e9c7f824cde814cc36278375712
7    A  Female  93bb6a4777a1448ebd0e308bf5a0048a
8    X  Female  77a03a1c307b4805a9538350c86c9bfe
9   AQ  Female  693b9c8e521242f7a488fd1a61bd0823
10  AC  Female  1236d2323cbe4dadb4be0df85a8a9b74
11   P  Female  5e168c25d12d4c4993f7ab2834f9745b
12  AH  Female  aedc8d24877c4d9d8ba8ad3b5db2cfe0
13  AP  Female  19bebca4af974026b6e17bed861f8015
14   M    Male  fa9b44a2fd4548e28a133c39d1db3843
15  AX  Female  6cb048e7372b4d69830eaff525e6f8e0
16  AZ    Male  7d6e0b88c7454b6f9ad1c580ffd0ddf2
17   C    Male  fa51d669a1e44653a8f66b05970eb404
18  AC    Male  344569709d0a4e53b4bfb176cd3ed9a0
19  AI    Male  4e4202b9bb804755984037bcedd056be
20   P    Male  60b91d4651ab4027b904115fcd6fb2bc
21   F    Male  55749ce7320748468013453a4e75ff9e
22  AJ  Female  b8ba29768ff8464f8490d6cce178ba19
23   D    Male  fa9fb13ed2384c72b9cf030a66e9a556
24   O    Male  663628410072439b9b01c837d0311610
25  AX    Male  02265b92494d4f09b1931b5c1403f285
26  AB  Female  aac33b8e49d44bdb8997eeeae201aec6
27  AI  Female  dcf2dec3a8e043698fb6b984a9b1fe48
28  BZ    Male  1e4cf50133d64c8289fff2bcd2134d0b
29   T    Male  e5756b3a8f39409c828a46c7b5b31369
Conter of all data
Counter({'BZ': 2, 'X': 2, 'AR': 2, 'AC': 2, 'P': 2, 'AX': 2, 'AI': 2, 'AL': 1, 'S': 1, 'AV': 1, 'A': 1, 'AQ': 1, 'AH': 1, 'AP': 1, 'M': 1, 'AZ': 1, 'C': 1, 'F': 1, 'AJ': 1, 'D': 1, 'O': 1, 'AB': 1, 'T': 1})
Conter Male
Counter({'AL': 1, 'S': 1, 'X': 1, 'AR': 1, 'M': 1, 'AZ': 1, 'C': 1, 'AC': 1, 'AI': 1, 'P': 1, 'F': 1, 'D': 1, 'O': 1, 'AX': 1, 'BZ': 1, 'T': 1})
Conter Female
Counter({'BZ': 1, 'AR': 1, 'AV': 1, 'A': 1, 'X': 1, 'AQ': 1, 'AC': 1, 'P': 1, 'AH': 1, 'AP': 1, 'AX': 1, 'AJ': 1, 'AB': 1, 'AI': 1})

In [26]:
print("Collection keys from all counts")
l = list(full_counts.keys())
print(l)

Collection keys from all counts
['AL', 'S', 'BZ', 'X', 'AR', 'AV', 'A', 'AQ', 'AC', 'P', 'AH', 'AP', 'M', 'AX', 'AZ', 'C', 'AI', 'F', 'AJ', 'D', 'O', 'AB', 'T']

In [27]:
l.sort()
print(l)

['A', 'AB', 'AC', 'AH', 'AI', 'AJ', 'AL', 'AP', 'AQ', 'AR', 'AV', 'AX', 'AZ', 'BZ', 'C', 'D', 'F', 'M', 'O', 'P', 'S', 'T', 'X']

In [28]:
print("Collection keys Chainmap of Males and Female collection objects")
lm = list(ChainMap(M_counts, F_counts))
lm.sort()
print(lm)
print("We see that chainmap can be used to produce a universe of objects by combining collection objects.")

Collection keys Chainmap of Males and Female collection objects
['A', 'AB', 'AC', 'AH', 'AI', 'AJ', 'AL', 'AP', 'AQ', 'AR', 'AV', 'AX', 'AZ', 'BZ', 'C', 'D', 'F', 'M', 'O', 'P', 'S', 'T', 'X']
We see that chainmap can be used to produce a universe of objects by combining collection objects.

# Itteritive approch to proccessing counts

In [29]:
# first we wright some text data
df = mk_example_df(I=300,N=26*2)
df.to_csv("./example_csv.csv", index=False)

In [30]:
!DIR | findstr "example_csv"

07/28/2022  12:55 PM            12,765 example_csv.csv

In [32]:
with open("./example_csv.csv", "r") as f:
    col1_counter = Counter()
    i=0
    for line in f:
        if i==0:
            print(line.split(','))
        else:
            col1_counter.update([line.split(',')[0]])
        if i%100 == 0:
            print(i," "*4)
            pp.pprint(col1_counter)
            print('-'*12)
        i+=1
print("Final counts: ", col1_counter)

['Cat', 'Gender', 'id\n']
0
Counter()
------------
100
Counter({   'AL': 7,
            'AD': 6,
            'V': 5,
            'N': 5,
            'W': 5,
            'AE': 4,
            'Y': 4,
            'AW': 4,
            'R': 3,
            'AA': 3,
            'I': 3,
            'B': 3,
            'C': 3,
            'AZ': 2,
            'J': 2,
            'L': 2,
            'P': 2,
            'A': 2,
            'M': 2,
            'U': 2,
            'AR': 2,
            'G': 2,
            'X': 2,
            'E': 2,
            'AK': 2,
            'AG': 2,
            'AN': 1,
            'F': 1,
            'BZ': 1,
            'AY': 1,
            'AH': 1,
            'H': 1,
            'AJ': 1,
            'AC': 1,
            'AP': 1,
            'AU': 1,
            'K': 1,
            'AV': 1,
            'AM': 1,
            'AI': 1,
            'O': 1,
            'AQ': 1,
            'D': 1,
            'AF': 1,
            'AB': 1})
------------
200
Counter({   'V': 9,
            'AD': 9,
            'N': 9,
            'AL': 8,
            'L': 7,
            'AE': 6,
            'BZ': 6,
            'W': 6,
            'AA': 6,
            'Y': 6,
            'I': 6,
            'AW': 6,
            'G': 6,
            'B': 6,
            'M': 5,
            'AR': 5,
            'C': 5,
            'Q': 5,
            'P': 4,
            'H': 4,
            'AJ': 4,
            'X': 4,
            'E': 4,
            'AQ': 4,
            'AT': 4,
            'AZ': 3,
            'J': 3,
            'R': 3,
            'U': 3,
            'AV': 3,
            'AK': 3,
            'AG': 3,
            'AS': 3,
            'AN': 2,
            'A': 2,
            'F': 2,
            'AY': 2,
            'AH': 2,
            'AP': 2,
            'AU': 2,
            'K': 2,
            'AM': 2,
            'D': 2,
            'AB': 2,
            'S': 2,
            'AX': 2,
            'AO': 2,
            'AC': 1,
            'AI': 1,
            'O': 1,
            'AF': 1})
------------
300
Counter({   'N': 12,
            'E': 11,
            'AD': 10,
            'C': 10,
            'V': 9,
            'AE': 9,
            'Y': 9,
            'AR': 9,
            'AT': 9,
            'AL': 8,
            'L': 8,
            'W': 8,
            'AA': 8,
            'AW': 8,
            'G': 8,
            'AZ': 7,
            'BZ': 7,
            'I': 7,
            'H': 7,
            'B': 7,
            'Q': 7,
            'M': 6,
            'AK': 6,
            'AB': 6,
            'AN': 5,
            'J': 5,
            'P': 5,
            'F': 5,
            'R': 5,
            'AY': 5,
            'AJ': 5,
            'X': 5,
            'AU': 5,
            'AQ': 5,
            'U': 4,
            'K': 4,
            'AV': 4,
            'AM': 4,
            'AI': 4,
            'O': 4,
            'AG': 4,
            'S': 4,
            'AF': 3,
            'AS': 3,
            'AX': 3,
            'A': 2,
            'AH': 2,
            'AP': 2,
            'D': 2,
            'AO': 2,
            'T': 2,
            'AC': 1})
------------
Final counts:  Counter({'N': 12, 'E': 11, 'AD': 10, 'C': 10, 'V': 9, 'AE': 9, 'Y': 9, 'AR': 9, 'AT': 9, 'AL': 8, 'L': 8, 'W': 8, 'AA': 8, 'AW': 8, 'G': 8, 'AZ': 7, 'BZ': 7, 'I': 7, 'H': 7, 'B': 7, 'Q': 7, 'M': 6, 'AK': 6, 'AB': 6, 'AN': 5, 'J': 5, 'P': 5, 'F': 5, 'R': 5, 'AY': 5, 'AJ': 5, 'X': 5, 'AU': 5, 'AQ': 5, 'U': 4, 'K': 4, 'AV': 4, 'AM': 4, 'AI': 4, 'O': 4, 'AG': 4, 'S': 4, 'AF': 3, 'AS': 3, 'AX': 3, 'A': 2, 'AH': 2, 'AP': 2, 'D': 2, 'AO': 2, 'T': 2, 'AC': 1})